* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
    background-color: white;
    border-top: 3px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

.Formulir {
    background: white;
    width: 800px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.Formulir h1 {
    text-align: center;
    margin-bottom: 20px;
}

.Formulir input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    margin-bottom: 10px;
}

.tombol {
    text-align: right;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.cancel {
    background-color: rgb(226, 53, 53);
    color: white;
    margin-right: 10px;
}

.submit {
    background-color: rgb(0, 110, 255);
    color: white;
}

.Table {
    background: white;
    width: 800px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.Table h2 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: black;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}
